body{
    font-family: Arial, Helvetica, sans-serif;        
}

h1 {
    background-color:whitesmoke;    
    color: #000080;
    text-align: center;
    padding: 20px;
}

p {
    font-size: 20px;
}

button{
    padding: 5px 10px;
    font-size: 14px;
}

.container{
    margin: 20px;
    padding: 20px;
}

.toast{
    margin: 10px 0px;
    padding: 10px;
    background-color:moccasin;
    text-align: center;
}