<div class="container">
    <div class="jumbotron py-4">
        <p class="h1 text-center">Post Book</p>
    </div>

    <div class="text-center" *ngIf="progressFlag">
        <i class="fas fa-circle-notch fa-3x fa-spin"></i>
    </div>

    <app-add></app-add>

    <div class="card mb-2" *ngFor="let post of service.posts; let i = index">
        <div class="card-body">
            <h4 class="card-title">{{post.title}}</h4>
            <p class="card-text">{{post.body}}</p>
            <button class="btn btn-link p-0 mr-3">
                <i class="fas fa-edit text-warning"></i>
            </button>
            <button class="btn btn-link p-0" (click)="delete(post.id,i)">
                <i class="fas fa-trash-alt text-danger"></i>
            </button>

        </div>
    </div>


</div>